#fname, #lname {
    color:#252525;
}

@media (min-width: 768px) {
    #fname, #lname {
        width:100%;
    }

  }

 body{
    width: 100%;
    height: 100%;
    background-color: beige;
 } 
  
 .pimg{
    min-width: 20vw;
    min-height: 25vw;
    max-width: 100px;
    max-height: 100px;
    background-color: #252525;
    border-radius: 100%;    
 }

 .navbar{
    background-color: #f5ba13;
 }
 